.weather-card {
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-image: url('https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg');
  }
  
  .weather-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .weather-card h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .weather-card p {
    font-size: 20px;
    color: firebrick;
  }